body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Satoshi";
  src: url("fonts/satoshi/Satoshi-Regular.woff2") format("woff2"),
    url("fonts/satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("fonts/satoshi/Satoshi-Bold.woff2") format("woff2"),
    url("fonts/satoshi/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  background: var(--color-body);
  font-family: "Satoshi", sans-serif;
  line-height: 1.5;
  margin: 0;
}

:root {
  --color-body: #f5f5f5;
  --color-primary: #00a0aa;
  --color-white: #fff;
  --color-black: #000;
}

/* Top menu  */
.topmenu {
  background: var(--color-primary);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.topmenu__info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.topmenu__location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topmenu__email {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.topmenu > img {
  margin-right: 8px;
  vertical-align: middle;
}

.topmenu__contact {
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .topmenu {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .topmenu img {
    vertical-align: text-bottom;
  }
  .topmenu__info {
    flex-direction: row;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .topmenu {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .topmenu img {
    vertical-align: text-bottom;
  }
  .topmenu__info {
    flex-direction: row;
    gap: 1rem;
  }
}

/* Navbar */
.nav {
  align-items: center;
  background: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 1rem;
  width: 80%;
}

.nav__brand {
  align-items: center;
  display: flex;
  font-weight: 700;
  margin-left: 1rem;
  text-decoration: none;
}

.nav__item > a {
  color: var(--color-black);
  font-size: small;
}

.nav__item > a:hover {
  color: var(--color-primary);
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 1rem;
}

.nav__toggler {
  display: none;
  cursor: pointer;
}

.nav__logo {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.icon {
  height: 30px;
  margin: 0.5rem 0.5rem;
  width: 30px;
}

@media (max-width: 768px) {
  .nav__list {
    align-items: center;
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav__list.show {
    display: flex;
  }

  .nav__toggler {
    display: block;
  }

  .btn {
    margin: 10px 0;
    width: 100%;
  }
}

.nav a {
  color: var(--color-black);
}

.btn {
  background: var(--color-primary);
  border-radius: 10px;
  border: 0;
  color: var(--color-white);
  height: 40px;
  margin: 5px;
  padding: 10px;
  width: 130px;
}

.btn--white {
  background: var(--color-white);
  color: var(--color-black);
}

.btn--green {
  background: var(--color-primary);
  color: var(--color-white);
}


/* Hero section  */
.herosection {
  margin-left: 3rem;
  padding: 0 2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.herosection__image__container {
  position: relative;
}

.image-text {
  background: var(--color-white);
  border-radius: 5px;
  display: flex;
  left: -60px;
  padding: 10px 10px;
  position: absolute;
  top: 94px;
  width: 100px;
}

.image-container > img {
  width: 200px;
}

.herosection__text {
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
}

.herosection__icon {
  margin-right: 5px;
}

.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.herosection__heading {
  font-weight: 700;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.herosection__content {
  margin-top: 10px;
}

.herosection__tag {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .herosection {
    margin-left: 4rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .herosection__heading {
    font-size: 32px;
  }
  .herosection__tag {
    font-size: 12px;
  }
}

@media screen and (min-width: 1024px) {
  .herosection {
    grid-template-columns: repeat(2, 1fr);
  }
  .herosection__heading {
    font-size: 50px;
  }
  .herosection__tag {
    font-size: 17px;
  }
  .herosection__image {
    width: 400px;
    height: 400px;
  }
  .image-text {
    top: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .herosection__heading {
    font-size: 70px;
  }
  .herosection__tag {
    font-size: 22px;
  }
  .herosection__image {
    width: 500px;
    height: 500px;
  }
}

/* Categoryservices */
.catgory-container {
  padding: 0 3rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.categoryservices {
  display: grid;
  gap: 5.8rem;
}

.catgory-container__heading {
  margin: 0;
  font-weight: 700;
  font-size: 34px;
}

.catgory-container__text {
  font-weight: 500;
  font-size: 15px;
  text-align: justify;
}

.category__container {
  position: relative;
  width: 100%;
}

.category__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170px;
  height: 94px;
  background: var(--color-primary);
  position: absolute;
  top: 134px;
  border-radius: 10px;
  left: 23px;
  padding: 0 10px;
  color: var(--color-white);
}

.category__info__text {
  font-weight: 500;
  font-size: 16px;
}

.category__info__heading {
  margin: 0;
  font-size: 25px;
}

.category__image {
  width: 246px;
}

@media screen and (min-width: 768px) {
  .catgory-container {
    padding: 2rem 2rem;
  }
  .categoryservices {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .catgory-container {
    margin-left: 4rem;
  }
  .categoryservices {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem 0;
    margin-top: 4rem;
  }
  .category__image {
    width: 260px;
  }
  .category__info {
    width: 160px;
    top: 131px;
    height: 70px;
    padding: 1rem;
  }
  .catgory-container__text {
    font-size: 16px;
  }
  .catgory-container__heading {
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .categoryservices {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* SpecialityServices  */
.SpecialityServices {
  padding: 5rem 2rem;
  margin-left: 2rem;
}

.SpecialityServices__header {
  position: relative;
  padding-bottom: 50px;
}

.SpecialityServices__tag {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 700;
}

.SpecialityServices__heading {
  margin: 1rem 0;
  font-size: 25px;
}

.SpecialityServices__categories {
  grid-template-columns: 1fr;
  gap: 2rem 0;
  margin-top: 2rem;
}

.SpecialityServices__category {
  gap: 20px;
  height: 270px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  padding: 1rem;
}

.SpecialityServices__btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.SpecialityServices__category__container {
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.SpecialityServices__category img {
  margin-top: 2rem;
}

.category__content__heading {
  font-size: 26px;
}

.category__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 20px;
  background: #d9d9d9;
  padding: 10px 10px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .SpecialityServices__categories {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .SpecialityServices__category {
    height: 315px;
  }
  .category__button {
    width: 40px;
    height: 25px;
  }
  .category__content__text {
    font-size: 19px;
  }
  .SpecialityServices__header {
    padding-bottom: 0;
  }
  .SpecialityServices__btn {
    left: auto;
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .SpecialityServices {
    margin-left: 4rem;
  }
  .SpecialityServices__category {
    height: 220px;
  }
}

/* benefits-section  */
.benefits-section {
  position: relative;
  padding: 2rem;
  margin-left: 2rem;
}

.benefits-section__image img {
  width: 350px;
  height: 350px;
}

.benefits-section__container {
  display: grid;
  grid-template-columns: 1fr;
}

.benefits-section__heading {
  font-size: 37px;
  font-weight: 700;
  margin: 0;
}

.benefits-section__content {
  line-height: 50px;
  line-height: 46px;
  margin-top: 2rem;
}

.benefits-section__listitem {
  font-size: 16px;
  list-style: none;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.benefits-section__list {
  padding-left: 0;
}

.benefits-section__icon {
  background: var(--color-primary);
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50px;
  margin-right: 10px;
}

.benefits-section__text {
  font-size: 16px;
  font-weight: 500;
}

.benefits-section__button {
  font-size: 16px;
  width: 200px;
  height: 45px;
  margin: 0;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .benefits-section__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .benefits-section__image img {
    width: 350px;
    height: 350px;
  }
  .benefits-section__content {
    margin-top: 0;
  }
  .benefits-section__heading {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .benefits-section__container {
    gap: 10rem;
  }
  .benefits-section__image img {
    width: 400px;
    height: 400px;
  }
}

/* checkup-plans */
.checkup-plans {
  position: relative;
  margin-left: 2rem;
  margin-top: 4rem;
}
.checkup-plans__container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkup-plans__heading {
  font-weight: 700;
  font-size: 29px;
  margin: 0;
}

.checkup-plans__text {
  /* font-size: 20px; */
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.checkup-plans__categories {
  height: 95px;
  display: flex;
  flex-direction: column;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 2rem;
  width: 300px;
}

.checkup-plans__container2 {
  height: 523px;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

.checkup-plans__image {
  display: flex;
  justify-content: center;
}

.checkup-plans__image img {
  width: 300px;
  height: 370px;
}

.checkup-plans__icon {
  background: var(--color-primary);
  padding: 6px;
  border-radius: 50px;
}

.checkup-plans__list {
  padding-left: 0;
}

.checkup-plans__listitem {
  margin-bottom: 1rem;
  font-size: 20px;
  line-height: 30px;
  list-style: none;
  display: flex;
  align-items: center;
}

.checkup-plans-list__icon {
  background: var(--color-black);
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50px;
  margin-right: 10px;
}

.checkup-plans__heading2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
}

.checkup-plans__text2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.checkup-plans__listitem {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  .checkup-plans__categories {
    width: 600px;
    flex-direction: row;
    padding: 0;
  }
  .checkup-plans__container2 {
    grid-template-columns: 1fr 1fr;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .checkup-plans__image img {
    width: 400px;
    height: 470px;
  }
}

/* Contact us section  */
.contact-container {
  margin-left: 3rem;
  gap: 5rem;
}

.contact-container__content {
  margin-top: 3rem;
}

.contact-container__heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}

.contact-container__tag {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 12px;
}

.contact-container__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
}

.contact-container__image {
  background: var(--color-primary);
  border-radius: 50px;
  padding: 5px;
  margin-right: 10px;
  width: 15px;
}

.contact-container__info {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.contact-container__info span {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 16px;
}

.contact-container__form {
  width: 300px;
  height: 560px;
  background: #fff;
  border-radius: 20px;
  padding: 1.5rem;
}

/* Form  */
.input-group {
  /* margin: 1rem; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::placeholder{
  color: #cdcbd7;
 }
 
.input {
  padding: 1rem;
  font-weight: 500;
  font-size: 18px;
  outline: 0;
  width: 230px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-right: 30px;
  margin-top: 1rem;
  color: var(--color-black);
}

.input--message {
  width: 232px;
  height: 160px;
  /* margin-left: 14px; */
  color: var(--color-black);
}


.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.form-btn {
  width: 280px;
  height: 47px;
  border-radius: 5px;
  margin-left: 1rem;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .contact-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
  }
  .contact-container__form {
    width: 300px;
  }
  .input {
    width: 230px;
  }
  .input--message {
    width: 230px;
  }
}

@media screen and (min-width: 1024px) {
  .contact-container__form {
    width: 350px;
  }
  .input {
    width: 285px;
  }
  .input--message {
    width: 285px;
  }
  .form-btn {
    width: 332px;
    height: 42px;
  }
}

/* testimonials section  */
.testimonials {
  position: relative;
  margin-top: 22rem;
  gap: 5rem;
  margin-left: 2rem;
  padding: 2rem;
}

.testimonial__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.testimonial__image-container img {
  max-width: 100%;
  height: auto;
  width: 300px;
  height: 300px;
}

.testimonial__container__text {
  font-size: 18px;
}

.testimonials__heading {
  font-weight: 700;
  font-size: 31px;
}

.testimonials__heading h2 {
  margin: 0;
}

.testimonials__patientinfo {
  margin-top: 1rem;
}

.patientinfo__name {
  font-weight: 500;
  font-size: 20px;
}

.patientinfo__type {
  font-weight: 400;
  font-size: 16px;
}

.arrow-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: var(--color-white);
  color: black;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
}

.arrow-btn.left-arrow {
  left: 25px;
}

.arrow-btn.right-arrow {
  right: 25px;
}

@media screen and (min-width: 768px) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }
  .arrow-btn {
    top: 50%;
  }
  .arrow-btn.right-arrow {
    right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .testimonial__container__text {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .testimonial__container__text {
    font-size: 27px;
  }
}

/* footer  */
.footer {
  position: relative;
  background: var(--color-primary);
  margin-top: 4rem;
}

.footer-sections {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  position: relative;
}

.footer-section1 {
  display: flex;
  flex-direction: column;
}

.footer-section1__heading {
  display: flex;
  align-items: center;
  color: var(--color-white);
}

.footer-section1__icon {
  margin-right: 5px;
}

.footer__buttton-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.btn--footer {
  border: 1px solid var(--color-white);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  height: 56px;
  background: var(--color-primary);
  color: var(--color-white);
}

.footer__buttton-container button {
  margin-top: 1rem;
}

.footer__section {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--color-white);
  list-style: none;
  padding: 0 2rem;
  white-space: nowrap;
  margin-top: 1rem;
}

.footer__section__heading {
  margin: 0;
  margin-bottom: 1rem;
}

.footer__section__listitem {
  margin-bottom: 1rem;
}

.btn--footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__icons {
  text-align: end;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.footer__icon {
  margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .footer-sections {
    flex-direction: row;
  }
}

/* header form  */
.form-container {
  background: var(--color-white);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20; 
}

#appointment-btn {
  color: var(--color-white);
  padding: 10px 20px;
  margin: 0;
  margin-top: 10px;
}

.select-input {
  width: 280px;
  color: #cdcbd7;
}

#close-button {
  background: var(--color-primary);
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 270px;
  margin-right: 12px;
}

@media screen and (min-width: 1024px) {
  .form-container {
    width: 360px;
  }
  .select-input {
    width: 330px;
  }
  #close-button{
    margin-left: 325px;
  }
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

